BigVir2084.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">


<xs:element name="citoyens">
    <xs:complexType >
        <xs:sequence>
            <xs:element name="citoyen" type="CITOYEN" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="medecin" type="MEDECIN" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:key name="keycitoyen">
	    <xs:selector xpath="CITOYEN"/>
	    <xs:field xpath="@id"/>
    </xs:key>

    <xs:keyref name="keymedecin" refer="keycitoyen">
	    <xs:selector xpath="CITOYEN/HS"/>
	    <xs:field xpath="@clé"/>
    </xs:keyref>

    <xs:keyref name="keyagent" refer="keycitoyen">
	    <xs:selector xpath="CITOYEN/AM"/>
	    <xs:field xpath="@idref"/>
    </xs:keyref>
</xs:element>


<xs:element name="Nom" type="xs:string"/>
<xs:element name="Prenom" type="xs:string"/>
<xs:element name="adresse" type="xs:string"/>
<xs:element name="date" type="xs:date"/>
<xs:element name="affluence" type="xs:integer"/>


    <xs:complexType name="MEDECIN">
        <xs:sequence>
            <xs:element ref="Nom"/>
            <xs:element ref="Prenom"/>
            <xs:element name="domaine" type="xs:string"/>
            <xs:element name="listePatients" type="LP"/>
        </xs:sequence>
        <xs:attribute name="clé" type="xs:integer" use="required"/>
    </xs:complexType>
        
    <xs:complexType name="AGENT">
        <xs:attribute name="idref" type="xs:integer" use="required"/>
    </xs:complexType>

    <xs:complexType name="LP">
        <xs:sequence>
            <xs:element name="patient" type="CITOYEN" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

<xs:complexType name="CITOYEN">
    <xs:sequence>
        <xs:element name="informationsPersonnelles" type="IP"/>
        <xs:element name="antecedentsMedicaux" type="AM"/>
        <xs:element name="historiqueSocial" type="HS"/>
    </xs:sequence>
    <xs:attribute name="id" type='xs:integer' use="required"/>
</xs:complexType>

<xs:complexType name="AM">
    <xs:sequence>
        <xs:element name="hospitalisations" type="HOSPITALISATIONS" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element name="tests" type="TESTS" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element name="consultations" type="CONSULTATIONS" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element name="statut" type="STATUTS"/>
    </xs:sequence>
    <xs:attribute name="idref" type="xs:integer" use="required"/>
</xs:complexType>

<xs:complexType name="HS">
    <xs:sequence>
        <xs:element name="etablissements" type="ETABLISSEMENTS" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element name="evenements" type="EVENEMENTS" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attribute name="clé" type="xs:integer" use="required"></xs:attribute>
</xs:complexType>

<xs:complexType name="IP">
    <xs:sequence>
        <xs:element ref="Nom"/>
        <xs:element ref="Prenom"/>
        <xs:element name="dateDeNaissance" type="xs:date"/>
        <xs:element name="poids" type="xs:integer"/>
        <xs:element name="age" type="xs:integer"/>
    </xs:sequence>
</xs:complexType>

<xs:complexType name="ETABLISSEMENTS">
    <xs:sequence>
        <xs:element name="etablissement" type="ETABLISSEMENT" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
</xs:complexType>
<xs:complexType name="ETABLISSEMENT">
    <xs:sequence>
        <xs:element ref="adresse"/>
        <xs:element ref="date"/>
        <xs:element ref="affluence"/>
    </xs:sequence>
</xs:complexType>

<xs:complexType name="EVENEMENTS">
    <xs:sequence>
        <xs:element name="evenement" type="EVENEMENT" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attribute name="clé" type="xs:ID"/>
</xs:complexType>
<xs:complexType name="EVENEMENT">
    <xs:sequence>
        <xs:element ref="date"/>
        <xs:element ref="affluence"/>
        <xs:element ref="adresse"/>
    </xs:sequence>
</xs:complexType>

<xs:complexType name="TESTS">
    <xs:sequence>
        <xs:element name="resultat" type="xs:string"/>
        <xs:element name='intitule' type='xs:string'/>
    </xs:sequence>
</xs:complexType>

<xs:complexType name="HOSPITALISATIONS">
    <xs:sequence>
        <xs:element name="maladie" type="xs:string"/>
        <xs:element name="dateEntree" type="xs:date"/>
        <xs:element name="dateSortie" type="xs:date"/>
    </xs:sequence>
</xs:complexType>

<xs:complexType name="CONSULTATIONS">
    <xs:sequence>
        <xs:element ref="date"/>
    </xs:sequence>
</xs:complexType>

<xs:complexType name="STATUTS">
    <xs:sequence>
        <xs:element name="statutsInfection" type="INFECTION"/>
        <xs:element name="statutsImmunisation" type="IMMUNISATION"/>
        <xs:element name="statutsVaccination" type="VACCINATION"/>
    </xs:sequence>
</xs:complexType>

<xs:complexType name="INFECTION">
    <xs:choice>
        <xs:element name="infecté" type="xs:string"/>
        <xs:element name="saint" type="xs:string"/>
    </xs:choice>
</xs:complexType>

<xs:complexType name="IMMUNISATION">
    <xs:choice>
        <xs:element name="immunisé" type="xs:string"/>
        <xs:element name="contaminable" type="xs:string"/>
    </xs:choice>
</xs:complexType>

<xs:complexType name="VACCINATION">
    <xs:choice>
        <xs:element name="vacciné" type="xs:string"/>
        <xs:element name="nonVacciné" type="xs:string"/>
    </xs:choice>
</xs:complexType>


</xs:schema>