BigVir2084.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">


<xs:element name="citoyens" type="CITOYENS"/>
    <xs:complexType name="CITOYENS">
        <xs:sequence>
            <xs:element name="citoyen" type="CITOYEN" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="medecin" type="MEDECINS" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>


    <xs:complexType name="MEDECINS">
        <xs:sequence>
            <xs:element name="Nom" type="xs:string"/>
            <xs:element name="Prenom" type="xs:string"/>
            <xs:element name="domaine" type="xs:string"/>
        </xs:sequence>
        <xs:attribute name="id" type="xs:integer"/>
    </xs:complexType>

<xs:complexType name="CITOYEN">
    <xs:sequence>
        <xs:element name="informationsPersonelles" type="IP"/>
        <xs:element name="antecedentsMedicaux" type="AM"/>
        <xs:element name="historiqueSocial" type="HS"/>
    </xs:sequence>
    <xs:attribute name="identifiant" type='xs:integer'/>
</xs:complexType>

<xs:complexType name="AM">
    <xs:sequence>
        <xs:element name="hospitalisations" type="HOSPITALISATIONS" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element name="tests" type="TESTS" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element name="consultations" type="CONSULTATIONS" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element name="statut" type="STATUTS"/>
    </xs:sequence>
</xs:complexType>

<xs:complexType name="HS">
    <xs:sequence>
        <xs:element name="etablissements" type="ETABLISSEMENTS"/>
        <xs:element name="evenements" type="EVENEMENTS"/>
    </xs:sequence>
</xs:complexType>

<xs:complexType name="IP">
    <xs:sequence>
        <xs:element name="Nom" type="xs:string"/>
        <xs:element name="Prenom" type="xs:string"/>
        <xs:element name="dateDeNaissance" type="xs:date"/>
        <xs:element name="poids" type="xs:integer"/>
        <xs:element name="age" type="xs:integer"/>
    </xs:sequence>
</xs:complexType>

<xs:complexType name="ETABLISSEMENTS">
    <xs:sequence>
        <xs:element name="etablissement" type="ETABLISSEMENT" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attribute name="clé" type="xs:ID"/>
</xs:complexType>
<xs:complexType name="ETABLISSEMENT">
    <xs:sequence>
    </xs:sequence>
    <xs:attribute name="clé" type="xs:ID"/>
</xs:complexType>

<xs:complexType name="EVENEMENTS">
    <xs:sequence>
        <xs:element name="evenement" type="EVENEMENT" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attribute name="clé" type="xs:ID"/>
</xs:complexType>
<xs:complexType name="EVENEMENT">
    <xs:sequence>
    </xs:sequence>
    <xs:attribute name="clé" type="xs:ID"/>
</xs:complexType>

<xs:complexType name="TESTS">
    <xs:sequence>
    </xs:sequence>
</xs:complexType>

<xs:complexType name="HOSPITALISATIONS">
    <xs:sequence>
    </xs:sequence>
</xs:complexType>

<xs:complexType name="CONSULTATIONS">
    <xs:sequence>
    </xs:sequence>
</xs:complexType>

<xs:complexType name="STATUTS">
    <xs:sequence>
        <xs:element name="statutsInfection" type="INFECTION"/>
        <xs:element name="statutsImmunisation" type="IMMUNISATION"/>
        <xs:element name="statutsVaccination" type="VACCINATION"/>
    </xs:sequence>
</xs:complexType>

<xs:complexType name="INFECTION
"></xs:complexType>

<xs:complexType name="IMMUNISATION">
</xs:complexType>

<xs:complexType name="VACCINATION">
</xs:complexType>


</xs:schema>