BigVir2084.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xsl="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://myBigVir.org/"
           xmlns="http://myBigVir.org/"
           elementFormDefault="qualified"
           attributeFormDefault="unqualified">


<xs:element name="BigVir">
    <!--  Definition de la base de donées BigVir  -->
    <xs:complexType>
        <xs:sequence>
            <xs:element name="agence-gouvernementale" type="AG"/>
            <xs:element name="observatoire-mondial" type="OM"/>
        </xs:sequence>
    </xs:complexType>

    <!--  clés et références  -->
    <xs:key name="keyindicateur">
        <xs:selector xpath="./observatoire-mondial/indicateurDeSanté"/>
        <xs:field xpath="@indicateur"/>
    </xs:key>

    <xs:keyref name="refindicateur" refer="keyindicateur">
        <xs:selector xpath="./agence-gouvernementale/valeur-indicateur"/>
        <xs:field xpath="@refIndicateur"/>
    </xs:keyref>

    <xs:key name="keycitoyen">
	    <xs:selector xpath="./observatoireMondial/citoyens/citoyen"/>
	    <xs:field xpath="@idC"/>
    </xs:key>

    <xs:keyref name="keymedecin" refer="keycitoyen">
	    <xs:selector xpath="./agence-gouvernementale/agents/medecin"/>
	    <xs:field xpath="@idM"/>
    </xs:keyref>

    <xs:keyref name="keyagent" refer="keycitoyen">
	    <xs:selector xpath="./agence-gouvernementale/agents/agent"/>
	    <xs:field xpath="@idA"/>
    </xs:keyref>
    <xs:keyref name="keypatient" refer="keycitoyen">
        <xs:selector xpath="./agence-gouvernementale/agents/medecin/LC/patient"/>
        <xs:field xpath="@idP"/>
    </xs:keyref>

    <xs:key name="keylieu">
	    <xs:selector xpath="observatoire-mondial/lieux/lieu"/>
	    <xs:field xpath="@idetablissement"/>
    </xs:key>

    <xs:key name="keyevent">
	    <xs:selector xpath="observatoire-mondial/events/event"/>
	    <xs:field xpath="@idevent"/>
    </xs:key>

    <xs:keyref name="keyetablissement" refer="keylieu">
        <xs:selector xpath="observatoire-mondial/citoyens/citoyen/historiqueSocial/etablissements/etablissement"/>
        <xs:field xpath="@refeta"/>
    </xs:keyref>

    <xs:keyref name="keyhopital" refer="keylieu">
        <xs:selector xpath="observatoire-mondial/citoyens/citoyen/antecedents-medicaux/Hospitalistaions"/>
        <xs:field xpath="@hop"/>
    </xs:keyref>

    <xs:keyref name="keyhopit" refer="keylieu">
        <xs:selector xpath="observatoire-mondial/citoyens/citoyen/antecedents-medicaux/Consultations"/>
        <xs:field xpath="@hop"/>
    </xs:keyref>

    <xs:keyref name="keyevenement" refer="keyevent">
        <xs:selector xpath="observatoire-mondial/citoyens/citoyen/historique-social/evenements/evenement"/>
        <xs:field xpath="@refevent"/>
    </xs:keyref>

</xs:element>


    <!--  Definition des formats d'éléments répétés dans la base  -->
    <xs:element name="nom" type="xs:string"/>

    <xs:element name="prenom" type="xs:string"/>

    <xs:element name="adresse" type="xs:string"/>

    <xs:element name="ville" type="xs:string"/>

    <xs:element name="date" type="xs:date"/>

    <xs:element name="affluence" type="xs:integer"/>

    <xs:element name="valeur" type="xs:boolean" default="false"/>


    <!-- element & complextype mixed -->
    <xs:element name="agent">
    <xs:complexType>
        <xs:attribute name="idA" type='xs:string' use="required"/>
    </xs:complexType>
    </xs:element>

    <xs:element name="patient">
        <xs:complexType>
            <xs:attribute name="idP" type='xs:string' use="required"/>
        </xs:complexType>
    </xs:element>

    <xs:element name="indicateur">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="domaine" type="xs:string"/>
                <xs:element name="pourcentage" type="xs:int"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="medecin">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="Liste"/>
            </xs:sequence>
            <xs:attribute name="idM" use="required" type="xs:string"/>
        </xs:complexType>
    </xs:element>

    <xs:element name="Liste">
        <xs:complexType >
            <xs:sequence>
                <xs:element ref="patient" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="liste-present">
        <xs:complexType >
            <xs:sequence>
                <xs:element ref="citoyen" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="citoyen">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="informations-personnelles" type="IP" minOccurs="0"/>
                <xs:element name="antecedents-medicaux" type="AM" minOccurs="0" maxOccurs="1"/>
                <xs:element name="historique-social" type="HS" minOccurs="0" maxOccurs="1"/>
            </xs:sequence>
            <xs:attribute name="idC" type='xs:string' use="required"/>
        </xs:complexType>
    </xs:element>


    <!--  complexType  -->
    <xs:complexType name="TESTS" >
        <xs:sequence>
            <xs:element name="test" type="TEST" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="TEST">
        <xs:sequence>
            <xs:element name="type" type="xs:string"/>
            <xs:element name="resultat" type="xs:boolean"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="HOPITAL">
        <xs:attribute name="hop" type="xs:string" use="required"/>
    </xs:complexType>

    <xs:complexType name="MALADIE">
        <xs:sequence>
            <xs:element name="nom" type="xs:string"/>
            <xs:element name="type" type="TYPEMALADIE"/>
        </xs:sequence>
    </xs:complexType>


    <!--  simpleType  -->
    <xs:simpleType name="TYPEDELIEU">
        <xs:restriction base="xs:string">
            <xs:enumeration value="centre commercial"/>
            <xs:enumeration value="musée"/>
            <xs:enumeration value="plage"/>
            <xs:enumeration value="salle de spectacle"/>
            <xs:enumeration value="salle de sport"/>
            <xs:enumeration value="épicerie"/>
            <xs:enumeration value="place publique"/>
            <xs:enumeration value="salle de jeux"/>
            <xs:enumeration value="Ecole"/>
            <xs:enumeration value="centre de santé"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="TYPEMALADIE">
        <xs:restriction base="xs:string">
            <xs:enumeration value="maladie respiratoire"/>
            <xs:enumeration value="maladie dermatologiques"/>
            <xs:enumeration value="maladie cardiovasculaires"/>
            <xs:enumeration value="maladies ou troubles oculaires"/>
            <xs:enumeration value="cancers"/>
            <xs:enumeration value="maladie rare"/>
            <xs:enumeration value="maladie mentale"/>
            <xs:enumeration value="maladie génétique"/>
            <xs:enumeration value="maladie infectueuses"/>
        </xs:restriction>
    </xs:simpleType>

    <!--  Agence Gouvernementale(AG)  -->
    <xs:complexType name="AG">
        <xs:sequence>
            <xs:element name="agents">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" ref="agent"/>
                        <xs:element maxOccurs="unbounded" ref="medecin"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="valeur-indicateur">
                <xs:complexType>
                    <xs:attribute name="refIndicateur" use="required" type="xs:string"/>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <!--  Observatoire Mondial(OM)  -->
    <xs:complexType name="OM">
        <xs:sequence>
            <xs:element name="citoyens" type="CITOYENS"/>
            <xs:element name="lieux" type="LIEUX"/>
            <xs:element name="events" type="EVENTS"/>
            <xs:element name="indicateur-de-sante" >
                <xs:complexType>
                    <xs:sequence>
                        <xs:element ref="indicateur"/>
                    </xs:sequence>
                    <xs:attribute name="indicateur" use="required" type="xs:string"/>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <!--  Definition des complexTypes de l'OM  -->
    <xs:complexType name="CITOYENS">
        <xs:sequence>
            <xs:element  maxOccurs="unbounded" ref="citoyen"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="LIEUX">
        <xs:sequence>
            <xs:element name="lieu" type="LIEU" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="LIEU">
        <xs:sequence>
            <xs:element name="Type" type="TYPEDELIEU" />
            <xs:element ref="affluence"/>
            <xs:element ref="adresse"/>
            <xs:element ref="ville"/>
            <xs:element ref="liste-present"/>
        </xs:sequence>
        <xs:attribute name="refeta" type="xs:string" use="required"/>
    </xs:complexType>

    <xs:complexType name="EVENTS">
        <xs:sequence>
            <xs:element name="event" type="EVENT" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="EVENT">
        <xs:sequence>
            <xs:element ref="date"/>
            <xs:element ref="affluence"/>
            <xs:element ref="adresse"/>
            <xs:element ref="ville"/>
            <xs:element ref="liste-present"/>
        </xs:sequence>
        <xs:attribute name="idevent" type="xs:string" use="required"/>
    </xs:complexType>



    <!--  Definition des complexTypes du Citoyen -->
    <xs:complexType name="IP">
        <xs:sequence>
            <xs:element ref="nom"/>
            <xs:element ref="prenom"/>
            <xs:element name="dateDeNaissance" type="xs:date"/>
            <xs:element name="poids" type="xs:integer"/>
            <xs:element name="age" type="xs:integer"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="AM">
        <xs:sequence>
            <xs:element name="hospitalisations" type="HOSPITALISATIONS" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="tests" type="TESTS"/>
            <xs:element name="consultations" type="CONSULTATIONS" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="statut" type="STATUTS"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="HS">
        <xs:sequence>
            <xs:element name="etablissement" type="ETABLISSEMENT" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="evenement" type="EVENEMENT" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <!--  Definition des complexTypes de l'HS(Historique Social) du citoyen  -->
    <xs:complexType name="ETABLISSEMENT">
        <xs:attribute name="refeta" type="xs:string" use="required"/>
    </xs:complexType>
    <xs:complexType name="EVENEMENT">
        <xs:attribute name="refevent" type="xs:string" use="required"/>
    </xs:complexType>


    <!--  Definition des complexTypes de l'AM(Antécédents Médicaux du Citoyen)  -->
    <xs:complexType name="HOSPITALISATIONS">
        <xs:sequence>
            <xs:element name="maladie" type="MALADIE"/>
            <xs:element name="dateEntree" type="xs:date"/>
            <xs:element name="dateSortie" type="xs:date"/>
            <xs:element ref="medecin"/>
            <xs:element name="hopital" type ="HOPITAL"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="CONSULTATIONS">
        <xs:sequence>
            <xs:element ref="date"/>
            <xs:element ref="medecin"/>
            <xs:element name="hopital" type="HOPITAL"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="STATUTS">
        <xs:sequence>
            <xs:element name="statut-infection" >
                <xs:complexType>
                    <xs:sequence>
                        <xs:element ref="valeur"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="statut-immunisation">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element ref="valeur"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="statut-vaccination">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element ref="valeur"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>



</xs:schema>